@model FoxClub.Models.Fox
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Trick center</title>
</head>
<body>
    <ul>
        <li><a href="/main/@Model.Name">Information</a></li>
        <li><a href="/fox/nutritionstore/@Model.Name">Nutrition Store</a></li>
        <li><a href="/fox/trickcenter/@Model.Name">Trick center</a></li>
    </ul>
        @if (Model.PossibleTricks.Count != 0)
        {
            <form action="/fox/trickUpdate/@Model.Name" method="get">
                Trick:
                <select name="trick">
                    @foreach (var trick in Model.PossibleTricks)
                    {
                        <option value=@trick>@trick</option>
                    }
                </select>
                <input type="submit" />
            </form>
        } else
        {
            <p>You know all the tricks already! Congratulations! </p>
        }

</body>
</html>