<! DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Login</title>
</head>
<body>
    <h2>Welcome to Programer Fox Club!</h2>
    <p>Please provide a pet name:</p>
    <form action="/" method="post">
        Name:
        <input type="text" name="name" />
        <input type="submit" />
    </form>
</body>
</html> 